*{
    -fx-background-color: white;
    -fx-focus-color: transparent;           
    -fx-faint-focus-color: transparent;
    -fx-effect: none;
    -fx-background-insets: 0;               /* prevents extra background margins */
    -fx-border-insets: 0;  
}
.window-btn {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-background-color:transparent;
    -fx-border-style: none;
    -fx-background-radius: 8px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-text-alignment: left;
                       
}

.window-btn:hover {
    -fx-background-color: rgba(128, 128, 128, 0.5);
    -fx-background-radius: 8px;
    -fx-text-fill: green;
    -fx-cursor: hand;
}


.side-menu{
    -fx-border-style: none solid none none;   
    -fx-border-width: 0 2px 0 0;            
    -fx-border-color: black;
}

.calc-container{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.17), 10, 0.3, 0, 0);
    -fx-border-style: none;          
    -fx-background-radius: 25px;          

}

.info-label{
    -fx-font-size: 45px;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}

.calc-container .vbox, .calc-container .hbox{
    -fx-background-color: transparent;
}

.text-field{
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}
.sub-label{
       -fx-background-color: transparent; 
}
.function-btn{
    -fx-background-color: rgb(0, 71, 129);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.accountant-btn{
    -fx-background-color: rgb(0, 71, 129);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}
.accountant-btn:hover{
    -fx-background-color: rgb(1, 54, 97);
    -fx-cursor: hand;
}
.table-view{
    -fx-background-color: transparent;
    -fx-text-fill: rgb(0, 71, 129);
}
.table-column , .table-cell, .table-row-cell{
    -fx-background-color: transparent;
    -fx-text-fill: rgb(0, 71, 129);
    -fx-text-alignment: center;
    -fx-border-style: none;
}

.table-cell{
    -fx-text-fill: rgb(0, 71, 129);
}
.table-view .column-header, .table-view .column-header .label{
    -fx-background-color: rgb(0, 71, 129);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 35px;
}
.table-view .column-header:hover, .table-view .column-header .label:hover{
    -fx-cursor: hand;
    -fx-background-color: rgb(1, 59, 79);
}

.remove-btn{
    -fx-background-color: rgb(255, 46, 46);
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}

.remove-btn:hover{
    -fx-background-color: rgb(253, 24, 24);    
}