*{
    -fx-background-color: white;
}



#login-btn{
    -fx-background-color: rgb(36, 156, 255);
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#login-btn:hover{
    -fx-background-color: rgb(24, 107, 175);

}

.field{
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.label{
    -fx-background-color: transparent;
}
.vbox{
    -fx-background-color: transparent;
}

.err-field{
    -fx-border-color: rgb(255, 71, 71);
    -fx-effect: dropshadow(gaussian, rgb(255, 71, 71,.17), 10, 0.3, 0, 0);
}