*{
    -fx-background-color: white;
}



#login-btn{
    -fx-background-color: rgb(36, 156, 255);
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

#login-btn:hover{
    -fx-background-color: rgb(24, 107, 175);

}

.field{
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.label{
    -fx-background-color: transparent;
}
.vbox{
    -fx-background-color: transparent;
}

.menu-button {
    -fx-background-color: rgb(36, 156, 255);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.menu-button .label{
    -fx-text-fill: white;
}

/* Style the dropdown arrow */

.menu-button .arrow {
    -fx-background-color: white; /* or change color of arrow */
    -fx-shape: "M0,0 L4,4 L8,0 Z";      /* small triangle */
    -fx-scale-x: 1;                     /* adjust size if needed */
    -fx-scale-y: 1;
    -fx-background-insets: 0;           /* remove insets */
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-color: black;            /* optional border */
    -fx-border-width: 1;
}

/* Style the menu items */
.menu-item {
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-font-size: 13px;
}

.menu-item:hover {
    -fx-background-color: #d0e4ff;
}

.menu-option{
    -fx-text-fill: rgb(36, 156, 255);
    -fx-min-width: 176px;
}
.menu-option .label{
    -fx-pref-width: 176px;
}

.menu-option:hover{
    -fx-background-color: rgb(36, 156, 255);
    -fx-text-fill: white;
}

.err-field{
    -fx-border-color: rgb(255, 71, 71);
    -fx-effect: dropshadow(gaussian, rgb(255, 71, 71,.17), 10, 0.3, 0, 0);
}

